VITE_BASE_URL=http://localhost:3000

DATABASE_URL="postgresql://postgres:password@localhost:5432/splitiv"
# You can also use Docker Compose to set up a local PostgreSQL database:
# docker-compose up -d

# vp run auth:secret
BETTER_AUTH_SECRET=your-secret-key

# web-push generate-vapid-keys
VITE_VAPID_PUBLIC_KEY=your-vapid-public-key
VAPID_PRIVATE_KEY=your-vapid-private-key
VAPID_SUBJECT=mailto:your@email.com


# OAuth2 providers
GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret

# NOTE:
# In your OAuth2 apps, set callback/redirect URIs to`http://localhost:3000/api/auth/callback/<provider>`
# e.g. http://localhost:3000/api/auth/callback/google
