# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file

version: 2
updates:
  # - package-ecosystem: "github-actions"
  #   directory: "/"
  #   target-branch: "dev"
  #   schedule:
  #     interval: "monthly"
  #   groups:
  #     actions-deps:
  #       patterns:
  #         - "*"
  - package-ecosystem: "docker"
    directory: "/"
    target-branch: "dev"
    schedule:
      interval: "monthly"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-major"]
  - package-ecosystem: "npm"
    directory: "/"
    target-branch: "dev"
    schedule:
      interval: "monthly"
    groups:
      # dev-deps:
      #   dependency-type: "development"
      # prod-deps:
      #   dependency-type: "production"
      deps:
        dependency-type: "development"
        dependency-type: "production"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-major"]
