node_modules
**/node_modules

**/.output
**/.vite
**/.vite-temp
**/.nitro
**/dist
**/build

**/.env
**/.env.*
!**/.env.example

**/*.tsbuildinfo
**/coverage

.git
.gitignore
.github

.vscode
.idea

.docker
docker-compose.yml
dev.sh
*.md
