@import 'tailwindcss';
@import 'tw-animate-css';

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(13.7% 0.036 258.53);
  --card: oklch(1 0 0);
  --card-foreground: oklch(13.7% 0.036 258.53);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(13.7% 0.036 258.53);
  --primary: oklch(54.6% 0.2153 262.87);
  --primary-foreground: oklch(98.4% 0.0035 247.86);
  --secondary: oklch(96.8% 0.0068 247.9);
  --secondary-foreground: oklch(20.8% 0.0399 265.73);
  --muted: oklch(96.8% 0.0068 247.9);
  --muted-foreground: oklch(55.5% 0.0407 257.44);
  --accent: oklch(96.8% 0.0068 247.9);
  --accent-foreground: oklch(20.8% 0.0399 265.73);
  --destructive: oklch(63.7% 0.2078 25.33);
  --border: oklch(92.9% 0.0126 255.53);
  --input: oklch(92.9% 0.0126 255.53);
  --ring: oklch(54.6% 0.2153 262.87);
  --chart-1: oklch(67.7% 0.1571 35.19);
  --chart-2: oklch(63.1% 0.1013 183.49);
  --chart-3: oklch(37.9% 0.044 225.54);
  --chart-4: oklch(83.4% 0.1186 88.15);
  --chart-5: oklch(78.3% 0.1261 58.75);
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
}

@layer base {
  * {
    @apply overscroll-none border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Also change in input.tsx */
.rc-input-number-input {
  @apply flex h-9 w-full min-w-0 rounded-md border border-input bg-transparent px-3 py-1 text-base shadow-xs transition-[color,box-shadow] outline-none selection:bg-primary selection:text-primary-foreground file:inline-flex file:h-7 file:border-0 file:bg-transparent file:text-sm file:font-medium file:text-foreground placeholder:text-muted-foreground disabled:pointer-events-none disabled:cursor-not-allowed disabled:opacity-50 md:text-sm;
  @apply focus-visible:border-ring focus-visible:ring-[3px] focus-visible:ring-ring/50;
  @apply aria-invalid:border-destructive aria-invalid:ring-destructive/20;
}
